.foot
  .foot__wrapper
    .foot__wrapper__contents
      .foot__wrapper__contents__content
        %a(href="#")
          %p 
            利用規約
      .foot__wrapper__contents__content
        %a(href="#")
          %p
            プライバシーポリシー
      .foot__wrapper__contents__content
        %a(href="#")
          %p
            特定商取引法に基づく表示
      .foot__wrapper__contents__content
        %a(href="#")
          %p
            運営会社
    .foot__wrapper__end
      © 2020 Fiction Inc. All Rights Reserved.