.middle_5
  %h1
    ハガレンファンズに新機能が追加されました！
  .middle_5__wrapper
    .middle_5__wrapper__contents
      .middle_5__wrapper__contents__content
        %p
          コーディネートが探せる
        = image_tag src="pict-reason-01.jpg", size: "280x380"
        .middle_5__wrapper__contents__content__explain
          %p
            トレンドのコーディネートやお気に入りユーザーのコーディネートをチェックして、オシャレや着回しの参考にできます。
    .middle_5__wrapper__contents
      .middle_5__wrapper__contents__content
        %p
          コーディネートから買える
        = image_tag src="pict-reason-02.jpg", size: "280x380"
        .middle_5__wrapper__contents__content__explain
          %p
            投稿したコーデを参考にしたいと思ったら、コーデに使われているアイテムに似た商品をダストボックスで買うことができます！
    .middle_5__wrapper__contents
      .middle_5__wrapper__contents__content
        %p
          コーディネートで稼げる
        = image_tag src="pict-reason-03.jpg", size: "280x380"
        .middle_5__wrapper__contents__content__explain
          %p
            Q&Aにコメントしたり、ユーズド商品が購入された場合、参考になったコーデ投稿者にアフィリエイトバックされます。
  .middle_5__under
    %a(href="#")
      = icon('fas', 'caret-right')
      もっと見る
  .middle_5__undest
    FanFanFun by Fictional character
