.middle_3
  .middle_3__wrapper
    .middle_3__wrapper__title
      %h3
        漢の子のためのフリマ・コーデアプリ
    .middle_3__wrapper__information
      %p
        買うのも売るのもアプリでかんたん♡
      %p
        約300万点のファッションアイテムから、毎日格安商品を見つけよう！
    .middle_3__wrapper__download
      .middle_3__wrapper__download__image-1
        = image_tag src="AppStore.jpg", size: "160x50"
      .middle_3__wrapper__download__image-2
        = image_tag src="GooglePlay.png", size: "160x50"
    .middle_3__wrapper__image
      %a(href="#")
        = image_tag src="armstrong.jpeg", size: "230x220"
        %p
          = icon('fas', 'caret-right')
          詳しく見る