.loopSlider{
	height: 380px;
	overflow: hidden;
	position: relative;
}
.loopSlider .loopslider_wrap{
	height: 380px;
	display: -webkit-flex;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
}
.loopSlider .loopslider_wrap ul{
	display: -webkit-flex;
	display: flex;
}
.loopSlider .loopslider_wrap ul li{
	width: 240px;
}