.loopSlider2{
	height: 190px;
	overflow: hidden;
	position: relative;
}
.loopSlider2 .loopslider_wrap2{
	height: 190px;
	display: -webkit-flex;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
}
.loopSlider2 .loopslider_wrap2 ul{
	display: -webkit-flex;
	display: flex;
}
.loopSlider2 .loopslider_wrap2 ul li{
	width: 190px;
}